<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAkAEwHDYuJqp2MlX02FBHdqh1TC5loQ-I</string>
	<key>GCM_SENDER_ID</key>
	<string>236951349015</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.vruksha.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>vruksha-de997</string>
	<key>STORAGE_BUCKET</key>
	<string>vruksha-de997.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:236951349015:ios:275f4590ea3e46a8baf952</string>
</dict>
</plist>